<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.seekting.killer">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="${app_icon}"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LocationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".KillerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DataActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TakeMicRecordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TakePhotoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".VideoRecordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PersonControlActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BarsControlActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ConnectActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Connect1Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ScoreActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".IndexActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.seekting.demo2020.CrashLogActivity"
            android:launchMode="singleInstance"
            android:process=":crash_log" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.seekting.killer${providerSuffix}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
</manifest>